<footer>

    <ul>
        <a class="menu-item" href="">
            <li>Sobre</li>
        </a>
        <a class="menu-item" href="">
            <li>Políticas de Privacidade</li>
        </a>
        <a class="menu-item" href="">
            <li>Ajuda</li>
        </a>
        <a class="menu-item" href="">
            <li>Contato</li>
        </a>
    </ul>
    <div class="localizacao">
        <p>Nossa localização</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.691330302237!2d-48.07134348902006!3d-15.820221626121633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3391b366fc47%3A0x88c16b784a3ad98f!2sSenai%20Taguatinga!5e0!3m2!1spt-BR!2sbr!4v1732147610212!5m2!1spt-BR!2sbr"
            width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</footer>