footer{
    background-color: #967a6b;
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.localizacao{
    text-align: center;
    color: #fff;
    
    p{
        padding: 20px;
    }
}