<div class="container">
    <h1>Missão</h1>
    <div class="container-content">
        <div class="content"><h2>Prestar assessoria jurídica de excelência</h2><p>Oferecer soluções jurídicas personalizadas e eficazes, garantindo que os clientes recebam o melhor atendimento, com profundo conhecimento das áreas de atuação e comprometimento com o sucesso de seus negócios ou interesses.</p></div>
        <div class="content"><h2>Promover a justiça e a equidade</h2><p>Comprometer-se com a promoção da justiça, respeitando os princípios constitucionais e a ética, e buscando sempre a equidade no tratamento dos clientes, independentemente de sua origem, classe social ou complexidade do caso.</p></div>
        <div class="content"><h2>Inovar no direito e nas práticas jurídicas</h2><p>Estar na vanguarda das inovações tecnológicas e jurídicas, adotando ferramentas e estratégias modernas para garantir agilidade, eficiência e qualidade nos serviços prestados, sempre atualizados com as mudanças legislativas e jurisprudenciais.</p></div>
        <div class="content"><h2>Fortalecer a confiança e o relacionamento com os clientes</h2><p>Estabelecer relações duradouras com os clientes, pautadas pela transparência, confiança e ética, garantindo que suas necessidades sejam atendidas com a máxima diligência e cuidado, seja em litígios, consultoria ou planejamento estratégico.</p></div>
    </div>

    <div class="missao-img">
        <img src="assets/2.webp" alt="">
        <img src="assets/3.webp" alt="">
        <img src="assets/4.webp" alt="">
    </div>
</div>
