<div class="container">
    <h1>Missão</h1>
    <div class="container-content">
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis illum harum soluta quos molestias impedit odit dolorum magni accusamus, nisi consequuntur officiis voluptate fuga quis aspernatur id maxime, suscipit architecto.</p></div>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis illum harum soluta quos molestias impedit odit dolorum magni accusamus, nisi consequuntur officiis voluptate fuga quis aspernatur id maxime, suscipit architecto</p>.</div>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis illum harum soluta quos molestias impedit odit dolorum magni accusamus, nisi consequuntur officiis voluptate fuga quis aspernatur id maxime, suscipit architecto.</p></div>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis illum harum soluta quos molestias impedit odit dolorum magni accusamus, nisi consequuntur officiis voluptate fuga quis aspernatur id maxime, suscipit architecto.</p></div>
    </div>

    <div class="missao-img">
        <img src="assets/2.webp" alt="">
        <img src="assets/3.webp" alt="">
        <img src="assets/4.webp" alt="">
    </div>
</div>
