<section class="creative-cards style-one">
    <div class="container">
      <div class="row">
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/1yIWjyG41o.png" alt="Ícone de planejamento estratégico" />
            </div>
            <h3><a href="https://www.fiverr.com/aliali44">Planejamento Jurídico</a></h3>
            <p>Desenvolvemos estratégias jurídicas eficazes que garantem a melhor defesa dos seus interesses, proporcionando a tranquilidade e segurança que você merece em todas as fases do processo legal.</p>
            <a class="read-more-btn" href="https://www.fiverr.com/aliali44"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/Q4tSh2ctkH.png" alt="Ícone de design tradicional" />
            </div>
            <h3><a href="https://www.fiverr.com/aliali44">Assessoria Jurídica Personalizada</a></h3>
            <p>Oferecemos um atendimento jurídico personalizado, com foco nas necessidades de cada cliente, proporcionando soluções justas, transparentes e eficazes para cada caso.</p>
            <a class="read-more-btn" href="https://www.fiverr.com/aliali44"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/YQdOwN6IDJ.png" alt="Ícone de qualidade" />
            </div>
            <h3><a href="https://www.fiverr.com/aliali44">Compromisso com a Justiça</a></h3>
            <p>Nosso compromisso é com a justiça e com a defesa dos seus direitos, sempre buscando resultados justos e equilibrados. Trabalhamos para garantir que sua voz seja ouvida e respeitada.</p>
            <a class="read-more-btn" href="https://www.fiverr.com/aliali44"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
