.container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 70px;
    text-align: center;
  }
  
  .about-us h1 {
    margin-bottom: 20px;
  }
  
  .about-us p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
  }
  