<div class="container">


  <form class="contact-form" (ngSubmit)="onSubmit()">
    
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required />

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required />

    <label for="message">Mensagem:</label>
    <textarea id="message" [(ngModel)]="message" name="message" required></textarea>

    <button type="submit">Enviar</button>
  </form>

  <section>
    <h1>Entre em <span>contato</span></h1>
    <p>Na AEAdvocacia, nossa missão é proporcionar soluções jurídicas personalizadas e de alta qualidade para nossos clientes. Se você tem dúvidas ou precisa de assessoria em questões legais, estamos aqui para ajudar.</p>
  </section>

</div>